
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Github Web hook issues</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/4/sketchy/bootstrap.min.css" rel="stylesheet">
    <link rel = "stylesheet" href="css/style.css">
    <link rel = "stylesheet" href="public/css/style.css">


  </head>

  <body>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark">



      <div class="container">
        <div class="navbar-header">
          <class="navbar-toggle collapsed" data-toggle="collapse"  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Github Finder</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <main role="main" class="container">
      <div class="starter-template">
        <h1>Github Real-Time Issues</h1>
        <p class="lead">Here will there be an update of issues from examination 3.<br></p>
      </div>


    <h3>Issues</h3>
    {{#if issues }}

        <ul id="issues_ul" >
            {{#each issues}}
                <!--For each snippet in the array -->
            <li class="card-panel" id={{id}}>
              <div class="card">
     <div class="col s12 m6">
       <div class="card blue-grey darken-1">
         <div class="card-content white-text">
                Title:      {{title}}       <br>
                Body:       {{Body}}        <br>
                Comments:   {{comments}}    <br>
                URL:        {{issueUrl}}    <br>
                Created at: {{created_at}}  <br>
                Updated at: {{updated_at}}  <br>
            {{/each}}
            </ul>
            </div>
</div>
</div>
</div>

    {{else}}
        <!--If the issues array is empty -->
        There are no issues to show.
    {{/if}}

    </main><!-- /.container -->

    </main>
    <script

  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src = "js/main.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io()
</script>



  </body>
</html>
